<span class="wallet-activity">

  <div ng-if="notification.type == 'send'">
      <span translate>Sent</span>
      <div class="wallet-activity-amount">
      {{tx.amountStr}}
      </div>
  </div>

  <div ng-if="notification.type == 'receive'">
      <span translate>Received</span>
      <div class="wallet-activity-amount">
      {{tx.amountStr}}
      </div>
  </div>

  <p class="wallet-activity-note">
    <i class="icon ion-record wallet-activity-note-child" ng-class="{'wallet-color-default': !tx.account.meta.color}" ng-style="{'color':tx.account.meta.color}"></i>
    <span class="wallet-activity-note-child">{{tx.account.name}}</span>
    <time class="wallet-activity-note-child">{{ tx.time | amTimeAgo}}</time>
  </p>
</span>
